@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Message
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <input id="inputMessage" type="text" class="form-control" placeholder="Insert Message...">
                    <span class="input-group-btn">
                        <button id="btnSend" class="btn btn-success" type="button">Send</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Chat
    </div>
    <div class="panel-body">
        <div class="row">
            <ul id="chatMessages"></ul>
        </div>
        <input type="hidden" id="messageSenderName" value="@User.Identity.GetUserName()" />
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/signalr")

    <script src="/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var connectionHub = $.connection.jobcityChatHub;

            // funtion to retrieve messages from other clients
            connectionHub.client.sendMessage = function (message) {
                $("#chatMessages").append("<li>" + message + "</li>");
            };

            // if connection was successfull add funcionality to send button
            $.connection.hub.start().done(
                function ()
                {
                    $("#btnSend").click(
                        function ()
                        {
                            var sender = $("#messageSenderName").val();
                            var message = $("#inputMessage").val();
                            connectionHub.server.broadcast(sender, message);

                            $("#inputMessage").val("").focus();
                        }
                    );
                }
            );

        })





    </script>
}
